__pycache__/
*.py[cod]
*.sqlite3
.env
env
*.log
*.pot
*.pyc
*.pyo
*.pyd
venv/
.venv
build/
dist/
*.egg-info/
.mypy_cache/
.DS_Store
.idea/
.vscode/
node_modules/
staticfiles/

# If using JetBrains or VSCode:
*.iml
*.swp
*.swo
*.bak

# media/uploads or markdown content
course/modules/*.

.python-version
img/

# ignore github-actions for now 
.github/workflows/django.yml

# Sphinx documentation build output
docs/
docs/.buildinfo
docs/source/_static/
docs/source/_templates/

# Sphinx cache and temporary files
docs/.coverage
docs/.pytest_cache/
docs/.DS_Store
