__pycache__/
*.py[cod]
*.sqlite3
.env
*.log
*.pot
*.pyc
*.pyo
*.pyd
venv/
build/
dist/
*.egg-info/
.mypy_cache/
.DS_Store
.idea/
.vscode/
node_modules/
staticfiles/

# If using JetBrains or VSCode:
*.iml
*.swp
*.swo
*.bak

# media/uploads or markdown content
course/modules/*.
