{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>build2teach</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/github.min.css">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@3.4.3/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-50 min-h-screen">
    <nav class="bg-white shadow mb-8">
        <div class="max-w-5xl mx-auto px-4 py-4 flex items-center justify-between">
            <div class="flex items-center space-x-4">
                <img src="{% static 'img/logo.jpg' %}" alt="Logo" class="w-7 h-7 object-contain rounded-full border-2 border-red-600 shadow-md mr-2 logo-navbar self-center">
                <a href="{% url 'home' %}" class="text-red-600 font-bold text-xl tracking-tight">build2teach</a>
                <a href="/blog/" class="text-gray-700 hover:text-red-600 font-medium ml-6">Blog</a>
            </div>
        </div>
    </nav>
    <main>
        {% block content %}{% endblock %}
    </main>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
<script>hljs.highlightAll();</script>
</body>
</html>
